[submodule "SimCCL"]
	path = SimCCL
	url = https://github.com/aliyun/SimCCL
	branch = master
[submodule "aicb"]
	path = aicb
	url = git@github.com:habby1012/aicb.git
	branch = master
[submodule "ns-3-alibabacloud"]
	path = ns-3-alibabacloud
	url = https://github.com/aliyun/ns-3-alibabacloud
	branch = master
