**/*.so
**/*.*.o
*.pyc
*.conf_check_*
.waf-1.7.11-*/
.lock-waf_linux2_build
simulation/build/ns3/*
simulation/build/.wafpickle-*
simulation/build/.old_srcdir
simulation/build/scratch/*
simulation/**/ns3.18-*
simulation/mix/*fct.txt
simulation/mix/*.tr*
simulation/mix/qlen.txt
simulation/monitor_output/*
simulation/mix/*.tr--commscale=1*
simulation/core.*
simulation/.waf*-*
simulation/cmake-cache/*
simulation/cmake-cache/*

!simulation/cmake-cache/.gitkeep